body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/*----ejercicio 1-----*/

ul.principal{
  text-transform: capitalize;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

ul.principal li a{
  background-color: rgb(89, 89, 238);
  color: white;
  padding: 15px 30px;
  text-transform: capitalize;
  text-decoration-line: none;
  display: block;
}

div.navbar a:hover{
  background-color: black;
}
/*para ocultar inicialmente el menu desplegable*/
div.desplegable{
  display: none;
}

/*para mostrar el menu desplegable como un blocke hacia abajo*/
li.li-desplegable:hover div.desplegable{
  display: block;
}

li.li-desplegable:hover div.desplegable a{
  background-color: black;
}